@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.cards-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* .card {
    background-color: #feddef;
    width: 20vw;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 7px 5px #FF76FC;
} */

.card footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.card:hover {
    transform: scale(1.5);
    animation: rotating 2s linear infinite;
}

.card-figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************************************/
/****************FRAME****************/

/* figure {
    width:            545px;
    height:           500px;
    margin:           1em auto;
} */
  
.outerBevel { /* of frame */
box-shadow:       4px 6px 12px 0 black;
border-width:     5px;
border-style:     solid;
border-color:     rgb(109, 84, 58) rgb(24, 19, 13) rgb(24, 19, 13) rgb(109, 84, 58);
}

.flatSurface { /* of frame */
border:           12px solid rgb(65, 40, 16);
}

.innerBevel { /* of frame */
border-width:     5px;
border-style:     solid;
border-color:     rgb(24, 19, 13) rgb(109, 84, 58) rgb(109, 84, 58) rgb(24, 19, 13);
}

.map { /* including mat and gold beveled edge of mat */
display:          block;
clear:            both;
height:           100%;
width:            100%;
padding:          7.5% 7.5% 10% 7.5%; /* Mat width */
background-color: rgb(255,249,224);   /* Mat color */
border-width:     3px;  /* Gold edge of mat */
border-style:     solid;
border-color:     rgb(207, 166, 0) rgb(207, 166, 0) rgb(145, 110, 0) rgb(145, 110, 0);
}